@import "variables";
@import "mixins";
@import "more";

/* Using @font-face in less
**
** src: url('@{path-fonts}/open-sans/OpenSans-Light-webfont.eot') format('enbedded-opentype'),
** url('@{path-fonts}/open-sans/OpenSans-Light.ttf') format('truetype'),
** url('@{path-fonts}/open-sans/OpenSans-Light-webfont.woff') format('woff'),
** url('@{path-fonts}/open-sans/open-sans/OpenSans-Light-webfont.svg#open-sans-light') format('svg');
**
*/

@font-face {
  font-family: 'MJF-Zhafira-Demo';
  src: url('@{path-fonts}/MJF-Zhafira-Demo.eot');
  src: url('@{path-fonts}/MJF-Zhafira-Demo.eot?#iefix') format('embedded-opentype'),
       url('@{path-fonts}/MJF-Zhafira-Demo.woff') format('woff'),
       url('@{path-fonts}/MJF-Zhafira-Demo.ttf') format('truetype'),
       url('@{path-fonts}/MJF-Zhafira-Demo.svg#MJF-Zhafira-Demo') format('svg');
  //font-style: normal;
  //font-weight: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('@{path-fonts}/Montserrat-Light.eot');
  src: url('@{path-fonts}/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
       url('@{path-fonts}/Montserrat-Light.woff') format('woff'),
       url('@{path-fonts}/Montserrat-Light.ttf') format('truetype'),
       url('@{path-fonts}/Montserrat-Light.svg#Montserrat-Light') format('svg');
  //font-style: normal;
  //font-weight: 400;
}

@font-face {
  font-family: 'Montserrat-Hairline';
  src: url('@{path-fonts}/Montserrat-Hairline.eot');
  src: url('@{path-fonts}/Montserrat-Hairline.eot?#iefix') format('embedded-opentype'),
       url('@{path-fonts}/Montserrat-Hairline.woff') format('woff'),
       url('@{path-fonts}/Montserrat-Hairline.ttf') format('truetype'),
       url('@{path-fonts}/Montserrat-Hairline.svg#Montserrat-Hairline') format('svg');
  //font-style: normal;
  //font-weight: normal;
}

// sprite-social
.sprite-social {
  background-image: url("@{path-images}/social-spritesheet.png");
  background-repeat: no-repeat;
  display: inline-block;

  &.sprite-social-f {
    width: 33px;
    height: 34px;
    background-position: -5px -5px;
  }

  &.sprite-social-f-blue {
    width: 33px;
    height: 34px;
    background-position: -48px -5px;
  }

  &.sprite-social-ins {
    width: 34px;
    height: 34px;
    background-position: -5px -49px;
  }

  &.sprite-social-ins-blue {
    width: 34px;
    height: 34px;
    background-position: -49px -49px;
  }

  &.sprite-social-pin {
    width: 34px;
    height: 34px;
    background-position: -91px -5px;
  }

  &.sprite-social-pin-blue {
    width: 34px;
    height: 34px;
    background-position: -93px -49px;
  }

  &.sprite-social-twi {
    width: 33px;
    height: 34px;
    background-position: -5px -93px;
  }

  &.sprite-social-twi-blue {
    width: 33px;
    height: 34px;
    background-position: -48px -93px;
  }

}


// sprite-docomo
.sprite-docomo {
  background-image: url("@{path-images}/docomo-spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &.sprite-docomo-DoCoMo {
    .stitches-sprite-docomo(-5px, -5px, 256px, 59px);
  }

  &.sprite-docomo-DoCoMo-blu {
    .stitches-sprite-docomo(-5px, -74px, 256px, 59px);
  }
}


html{
  font-size: 62.5%;
}

body{
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
}

#header{
  position: relative;
  z-index: 10;
}



.top{
  padding: 10px 0;
  background-color: rgba(0,51,95,1);

  &.second{
    background-color: #000000;
  }

  .top-center-nav{
    display: inline-block;
    .select2-container--default{
      margin-top: 5px;
      .select2-selection--single{
        background-color: transparent;
        border: none;
        .border-radius(0);

        .select2-selection__rendered{
          color: #fff;
        }
      }
    }

    &>li{
      &>a{
        color: #fff;
        position: relative;
        padding: 10px;

        &:focus,&:hover{
          background-color: transparent;

          span{
            .text-shadow(2px 1px 8px rgba(255,255,255, 1));
          }
        }

        &:after{
          content: '';
          width: 1px;
          height: 100%;
          background-image: url("@{path-images}/separate.png");
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      &:last-of-type{
        &>a{
          &:after{
            display: none;
          }
        }
      }
    }
  }

  .top-form-search{
    margin-top: 3px;
  }
}

.middle{
  .middle-navbar{
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #cccccc;

    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.05) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 50%,rgba(255,255,255,0.05) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 50%,rgba(255,255,255,0.05) 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#0dffffff',GradientType=1 );

    .border-radius(0);
  }

  &.second{
    .middle-navbar{
      background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.05) 100%);
      background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.05) 100%);
      background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.05) 100%);

      .navbar-brand{
        display: none;
      }

      .new-navbar-nav{
        &>.social-list{
          text-align: center;
          a{
            display: inline-block;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 3px;
            padding-right: 3px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.new-navbar-nav {
  &>li{
    &>a{
      text-transform: uppercase;
    }
  }

  &>.social-list{
    text-align: center;
    a{
      display: inline-block;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .middle{
    .middle-navbar{
      border: none;
    }
  }

  .new-navbar-nav {
    width: 100%;
    text-align: center;

    &>li{
      &>a{
        color: #fff !important;
        font-size: 1.7rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
      }
    }

    &>li {
      float: none;
      display: inline-block;
    }
  }


}

@media only screen and (min-width: 992px){
  .new-navbar-nav{
    &>li{
      &>a{
        padding-left: 3rem;
        padding-right: 3rem;
      }
    }
  }


}


@media only screen and (min-width: 768px){
  #banner-slide{
    margin-top: -165px;
  }

  .middle{
    &.second{
      .new-navbar-nav{
        &>li{
          &>a{
            padding-left: 1.5rem;
            padding-right: 1.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px){
  .middle{
    &.second{
      .middle-navbar{
        .navbar-brand{
          display: block;
          height: auto;
          padding: 0;
          margin-top: 1rem;
        }
      }
    }
  }

  .middle{
    &.second{
      .new-navbar-nav{
        width: auto;
      }
    }
  }
}

.select2-bootstrap{
  &+.select2-container--default{
    .select2-selection--single{
      height: 34px;
      border: 1px solid #cccccc;

      .select2-selection__rendered{
        line-height: 32px;
      }

      .select2-selection__arrow{
        height: 32px;
      }
    }
  }
}


#full-width-slider{
  position: relative;
  &:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 9;
  }
}

#full-width-slider-info{
  position: relative;

  .ls-bottom-nav-wrapper{
    z-index: 10;
  }
}

#overlay-content{
  margin-top: 2rem;
  .wrap-activity{
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  #overlay-content{
    position: relative;
    z-index: 10;
    margin-top: -472px;
  }
}

.guam-guide{
  .img-responsive{
    margin-left: auto;
    margin-right: auto;
  }
}

.hidden-mobile{
  display: none !important;
}
.visible-desk{
  display: block !important;
}

@media only screen and (min-width: 992px) {
    .hidden-mobile{
      display: block !important;
    }
    .visible-desk{
      display: none !important;
    }
}

.nav-guam-guide{
  display: inline-block;
  li{
    span{
      .text-shadow(rgb(3, 3, 3) 4px 2px 2px);
      color: #fff;
      display: inline-block;
      font-size: 8.2rem;
      padding: 0 3.5rem;
      font-family: 'MJF-Zhafira-Demo', sans-serif;

      &:after{
        content: '';
        width: 1px;
        height: 100%;
        background-image: url("@{path-images}/separate-nav.png");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        right: 0;
        top: 0;
      }

      &.non-separate{
        &:after{
          display: none;
        }
      }
    }
  }
}

.wrap-activity{
  border: 1px solid rgba(0,0,0,.15);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #f6f4ec;
  min-height: 54px;
  margin-bottom: 4rem;
}

.inline-letgo-search{
  padding: 0 10px 10px 10px;
  margin-left: -5px;
  margin-right: -5px;
  [class^="col-"]{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .form-group{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .btn-letgo{
    background-color: #1274bf;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    height: 54px;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    transition: all .4s linear;
    &:hover{
      background-color: #44a4ee;
      color: #fff;
    }
  }
}

@media only screen and (min-width: 768px){
  .inline-letgo-search{
    padding: 0 0 0 10px;
    .btn-letgo{
      -moz-border-radius: 0 4px 4px 0;
      -webkit-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
    }
  }
}

.docomo{
  .img-responsive{
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 992px){
  .ls-v5{
    .ls-nav-next,
    .ls-nav-prev{
      background-color: rgba(255, 255, 255, 0.3);
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
      width: 90px !important;
    }

    .ls-nav-next{
      right: 0 !important;
      background-position: -130px 10px !important;
    }

    .ls-nav-prev{
      left: 0 !important;
      background-position: 30px 10px !important;
    }
  }
}


.animate-to{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  .anchor-animate-to{
    display: inline-block;
    width: 59px;
    height: 59px;
    margin-left: auto;
    margin-right: auto;
  }

  &.within-info{
    margin-top: -5.9rem;
  }
}

@media only screen and (min-width: 768px) {
  .animate-to{
    margin-top: 10rem;
    margin-bottom: 3.5rem;
  }
}

#book-today{
  padding-top: 4.5rem;
  padding-bottom: 2rem;
  position: relative;

  .blur-book-today{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(21, 108, 0, 0.4);
  }

  .hold-bg{
    background-image: url("@{path-images}/book-today-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 768px){
  #book-today{
    padding-top: 20.5rem;
  }
}

.book-today-info{
  color: #fff;
  h4{
    font-size: 6rem;
    text-transform: uppercase;
    font-family: 'Montserrat-Hairline', sans-serif;
    margin-top: 0;
    margin-bottom: 2rem;
    span{
      display: inline-block;
      border-bottom: 1px solid #fff;
      padding-bottom: 1.5rem;
    }
  }

  p{
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 2rem;
  }
}

.start-here{
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  margin-top: 1.5rem;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  .layer-thumb-image{
    background: black;
    width: 100%;
    height: 100%;
  }
  a{
    color: #fff;
    display: block;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Montserrat-Light', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    span{
      position: absolute;
      display: inline-block;
      width: 100%;
      left: 50%;
      top: 50%;
      .transform(translate(-50%,-50%));
    }
  }
}

@media only screen and (min-width: 480px){
  .start-here{
    width: 50%;
  }
}

@media only screen and (min-width: 768px){
  .start-here{
    width: 100%;
    height: 220px;
  }
}

@media only screen and (max-width: 767px){
  #book-today{
    .com-flex{
      [class^="col-"]{
        width: 100%;
      }
    }
  }
}

#guam-info{
  position: relative;
  .animate-to{
    &.within-info{
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 10;
    }
  }
}

#footer{
  background-color: #d9d9d9;
  background-image: url("@{path-images}/map-foot.png");
  background-position: right bottom -130px;
  background-repeat: no-repeat;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

@media only screen and (min-width: 768px) {
  #footer {
    padding-top: 10rem;
    padding-bottom: 30rem;
  }
}

.logo-contact{
  margin-bottom: 3rem;
  h4{
    font-size: 6rem;
    font-family: 'Montserrat-Hairline', sans-serif;
    position: relative;
    color: #555555;
    &:before{
      content: '';
      width: 150px;
      max-width: 150px;
      height: 1px;
      background-color: #555555;
      position: absolute;
      left: 0;
      bottom: -20px;
    }
  }
}

.wrap-foot-list{
  h4{
    color: #006595;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
  }

  .nav-list{
    margin-bottom: 2rem;
    &>li{
      &>a{
        padding-left: 0;
        padding-right: 0;
        color: #006595;
        font-size: 1.5rem;
        text-transform: uppercase;
        &:focus,&:hover{
          background-color: transparent;
          text-decoration: underline;
        }
      }
    }

    &.list-social{
      a{
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

.new-content{
  h4{
    color: #006595;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
  }
}

#activities{
  position: relative;

  .hold-bg-activities-noneblur{
    background-image: url("@{path-images}/activities-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .hold-bg-activities{
    background-image: url("@{path-images}/activities-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .inner{
    padding-top: 10rem;
    padding-bottom: 3rem;
  }
}

.wrap-event{
  text-align: center;
  h1{
    color: #fff;
    font-size: 5rem;
    text-transform: uppercase;
    position: relative;
    font-family: 'Montserrat-Hairline', sans-serif;
    margin-top: 0;
    margin-bottom: 5rem;
    &:before{
      content: '';
      width: 150px;
      max-width: 150px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      left: 50%;
      bottom: -20px;
      .transform(translate(-50%, 0));
    }
  }

  .learn-more{
    .detail{
      margin-top: 2rem;
      margin-bottom: 5rem;
      width: 70%;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      border: 1px solid #fff;
      position: relative;
      a{

        text-transform: uppercase;

        color: #fff;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2.5rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        span{
          position: absolute;
          display: inline-block;
          width: 100%;
          left: 50%;
          top: 50%;
          .transform(translate(-50%, -50%));
        }

        &:hover{
          text-decoration: none;
        }
      }
    }
  }

  .info{
    color: #fff;
    font-size: 2rem;
    font-family: 'Montserrat-Light', sans-serif;
  }
}



#blog-popular{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
  #blog-popular{
    padding-top: 5rem;
  }
}

.blog-item{
  border: 1px solid rgba(7,7,8,.27);
  margin-bottom: 2rem;
  .blog-img{
    .square{
      position: relative;
      width: 100%;
      &:after{
        content: '';
        display: block;
        padding-bottom: 100%;
      }
      .inner-square{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img{
          .transition(all 0.4s linear);
          &.extend-img{
            width: 100%;
          }
        }

        .overlay{
          .transition(all 0.4s ease-in-out);
          width: 100%;
          height: 100%;
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          opacity: 0;
          background-color: rgba(0,0,0,0.5);

          .read-more{
            text-decoration: none;
            display: inline-block;
            text-transform: capitalize;
            color: #fff;
            border: 1px solid #fff;
            background-color: transparent;
            padding: 7px 14px;
            position: absolute;
            top: 50%;
            left: 50%;
            .transform(translate(-50%,-50%));
          }
        }
      }
    }
  }

  &:hover{
    .inner-square{
      img{
        .transform(scale(1.2));
      }

      .overlay{
        opacity: 1 !important;
      }
    }
  }

  .blog-content{
    padding: 2rem;
    h4.title{
      margin-top: 0;
      margin-bottom: 2rem;
      a{
        color: #1273bf;
        font-size: 1.7rem;
        text-transform: uppercase;
      }
    }
  }
}

/* Start Subpage Activities */
#guam-activities{
  margin-top: 2rem;
}

.header-activities{
  margin-bottom: 2rem;
  .title{
    h4{
      font-size: 5rem;
      font-family: 'Montserrat-Hairline', sans-serif;
      text-transform: uppercase;
    }
    span{
      display: inline-block;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2rem;
    }
  }

  .hold-slt{
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 768px){
  .header-activities{
    .hold-slt{
      margin-top: 7rem;
    }
  }
}

@media only screen and (min-width: 992px) {
  #guam-activities{
    margin-top: 5rem;
  }

  .header-activities{
    margin-bottom: 5rem;
    .hold-slt{
      margin-top: 7rem;
    }
  }
}

.activities-item{
  .border-radius(5px);
  margin-bottom: 2rem;
  border: 1px solid #ededed;
  padding: 0.5rem;
  .activities-img{
    .retangle{
      position: relative;
      width: 100%;
      &:after{
        content: '';
        display: block;
        padding-bottom: 73%;
      }
      .inner-retangle{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .border-radius(5px);

        img{
          .transition(all 0.4s linear);
          &.extend-img{
            width: 100%;
          }
        }

        .overlay{
          width: 60px;
          height: 100%;
          position: absolute;
          overflow: hidden;
          top: 0;
          right: 0;
          background-color: rgba(0,0,0,0.5);
        }
      }
    }
  }

  .activities-content{
    padding: 1rem 1rem 0;
    .primary-content{
      overflow: hidden;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    h4{
      margin-top: 0;
      margin-bottom: 0;
      a{
        text-transform: capitalize;
        color: #86af0d;
      }
    }

    p{
      color: #8c8486;
    }
  }

  .activities-price{
    padding: 1rem;
    border-top: 1px solid #ededed;
    span{
      display: block;
      &.sub{
        color: #8c8486;
        font-size: 1.6rem;
      }
      &.price{
        color: #000;
        font-size: 2rem;
        font-weight: 700;
      }
    }

    .btn-detail{
      text-transform: uppercase;
      margin-top: 1rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .activities-item{
    .activities-content{
      .primary-content{
        height: 210px;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .activities-content{
    .primary-content{
      height: 160px;
      margin-top: 5rem;
      margin-bottom: 6rem;
    }
  }
}

.metismenu{
  .has-arrow{
    &::after{
      //border-width: 0px 0 1px 1px;
      border-color: #000;
      right: 4px;
    }
  }
}
.box-search-activities{
  border: 1px solid #ededed;
  margin-bottom: 2rem;
  .border-radius(4px);
  .title{
    background-color: #7ab92d;
    color: #ffffff;
    text-transform: capitalize;
    font-style: 1.4rem;
    margin: 5px;
    padding: 1rem 0 1.3rem 1rem;
    .border-radiuses(4px,0,0,4px);
  }

  .place-body-search{
    padding: 1rem;
    .nav-list{
      &>li{
        border-bottom: 1px solid #ededed;
        padding-top: 1rem;
        padding-bottom: 1rem;
        &>a{
          padding: 10px 0;
          color: #444444;
          &:hover,&:focus{
            background-color: transparent;
          }
        }

        &:last-of-type{
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }

  .search-place-button{
    padding: 4rem 5px;
    .btn{
      text-transform: uppercase;
      font-weight: 700;
      color: #ffffff;
      &.btn-reset{
        background-color: #666666;
      }
    }
  }
}
/* End Subpage Activities*/

/* Start Subpage Event */
#guam-events{
  margin-top: 2rem;
}

.grid-sizer,
.grid-item{
  width: 100%;
}
.grid-item{
  float: left;
  margin-bottom: 10.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gutter-sizer {
  width: 16.66666667%;
}

@media only screen and (min-width: 768px) {
  #guam-events{
    margin-top: 6rem;
  }

  .grid-sizer,
  .grid-item{
    width: 41.66666667%;
  }

  .grid-item-width-than{
    width: 42.66666667%;
  }

  .gutter-sizer {
    width: 16.66666667%;
  }
}

.guam-event-intro{
  text-align: center;
  color: #8c8486;
  h4{
    font-size: 5rem;
    font-family: 'Montserrat-Hairline', sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 3rem;
    position: relative;
    &:before{
      content: '';
      width: 150px;
      max-width: 150px;
      height: 1px;
      background-color: #8c8486;
      position: absolute;
      left: 50%;
      bottom: -15px;
      .transform(translate(-50%, 0));
    }
  }
}

.event-item{
  .event-img{
    border: 1px solid #ededed;
    border-bottom: none;
    .square{
      position: relative;
      width: 100%;
      &:after{
        content: '';
        display: block;
        padding-bottom: 100%;
      }
      .inner-square{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img{
          .transition(all 0.4s linear);
          &.extend-img{
            width: 100%;
          }
        }

        .overlay{
          .transition(all 0.4s ease-in-out);
          width: 100%;
          height: 100%;
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          opacity: 0;
          background-color: rgba(0,0,0,0.5);
        }
      }
    }
  }

  &:hover{
    .inner-square{
      img{
        .transform(scale(1.2));
      }

      .overlay{
        opacity: 1 !important;
      }
    }
  }

  .event-content{
    border: 1px solid #ededed;
    border-top: none;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #8c8486;
  }

  .event-viewin{
    .viewin-calendar{
      border: 1px solid #0d49ad;
      padding: 1.5rem 2rem;
      text-align: center;
      text-transform: uppercase;
      color: #0d49ad;
      display: inline-block;
      width: 100%;
      float: right;
      text-decoration: none;
      position: relative;
      .transition(all 0.3s linear);
      &:after{
        content: '';
        width: 32px;
        height: 32px;
        background-image: url("@{path-images}/cal.png");
        background-repeat: no-repeat;
        position: absolute;
        right: 2rem;
        top: 8px;
      }
      
      &:hover{
        background-color: #b8d0fa;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .event-item{
    .event-viewin{
      .viewin-calendar{
        width: 70%;
      }
    }
  }
}
/* End Subpage Evennt */

.temp-square{
  width: 100%;
  position: relative;
  &:after{
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  .inner{
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.square-calen{
  width: 88%;
}

.bg-calendar-grid{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("@{path-images}/bg-calendar.png");
  background-repeat: no-repeat;
  background-size: cover;
  .transform(translate(-50%,0));
}

.canlendar-info{
  width: 100%;
  position: absolute;
  top: 50%;
  .transform(translate(55%,-50%));

  h4{
    font-family: 'Montserrat-Hairline', sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 3rem;
    position: relative;
    &:before{
      content: '';
      width: 150px;
      max-width: 150px;
      height: 1px;
      background-color: #8c8486;
      position: absolute;
      left: 5px;
      bottom: -15px;
    }
  }

  span{
    display: inline-block;
    font-weight: 700;
    color: #555555;
  }
}

@media only screen and (max-width: 767px) {
  .square-calen{
    width: 100%;
    &:after{
      padding-bottom: 50%;
    }
  }

  .bg-calendar-grid {
    display: none;
  }

  .canlendar-info{
    background-color: #117500;
    color: #fff;
    top: auto;
    padding: 2rem;
    .transform(translate(0,0));
    h4{
      font-size: 3rem;
      &:before{
        left: 0;
      }
    }
    span{
      color: #fff;
      font-size: 1.7rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .guam-event-intro{
    h4{
      font-size: 4rem;
    }
  }

  .canlendar-info{
    h4{
      font-size: 4rem;
    }
    span{
      font-size: 2.7rem;
    }
  }
}

@media only screen and (min-width: 992px) {
  .guam-event-intro{
    h4{
      font-size: 5rem;
    }
  }

  .canlendar-info{
    h4{
      font-size: 5rem;
    }
    span{
      font-size: 3.7rem;
    }
  }
}

/* Start Book Now */
input::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: white;
  opacity: 1;
}
input::-moz-placeholder {
  color: white;
  opacity: 1;
}

.wrap-booknow{
  margin-top: 2rem;
  margin-bottom: 3rem;
  .title{
    font-size: 6rem;
    text-transform: uppercase;
    font-family: 'Montserrat-Hairline', sans-serif;
    margin-top: 0;
    margin-bottom: 2rem;
    span{
      display: inline-block;
      border-bottom: 1px solid #555;
      padding-bottom: 1.5rem;
    }
  }

  .mode-wrap{
    padding-left: 0;
    &+.mode-wrap{
      margin-left: 5px;
    }

    .lbl-mode{
      background-color: #636363;
      color: #fff;
      height: 60px;
      cursor: pointer;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      padding-top: 0.9rem;
      padding-bottom: 0.8rem;
      margin-bottom: 0;
      margin-left: 0;
      span{
        display: block;
        text-align: center;
        i.fa{


        }
      }
    }

    input[type="radio"]{
      width: 1px;
      height: 1px;
      visibility: hidden;

      &:checked{
        &+label.lbl-mode{
          background-color: #000000;
        }
      }
    }


  }

  .flat-form{
    .form-group{
      margin-bottom: 2rem;

      .has-icon-calen{
        position: relative;
        input.form-control{
          padding-left: 2rem;
        }
      }
    }
    .lbl{
      font-size: 1.4rem;
      color: #555555;
      white-space: nowrap;
    }
    .form-control{
      background-color: #626262;
      color: #ffffff;
      height: 60px;
      .border-radius(0);

      &.flat-select{
        background-image: url("@{path-images}/select-arrow.png");
        background-repeat: no-repeat;
        background-position: right 10px center;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &::-ms-expand{
          display: none;
        }
      }
    }
    .short-des{
      color: #555555;
    }
    .btn-search{
      background-color: #0071bb;
      .border-radius(0);
      height: 60px;
      font-size: 2rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}

@media only screen and (min-width: 480px){
  .wrap-booknow{
    .flat-form{
      .form-group{
        .has-icon-calen{
          &:after{
            content: '';
            width: 32px;
            height: 32px;
            background-image: url("@{path-images}/cal-white.png");
            background-repeat: no-repeat;
            position: absolute;
            left: 10px;
            top: 13px;
          }

          input.form-control{
            padding-left: 5.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px){
  #subpage-booknow-slider2{
    &.ls-v5 {
      .ls-nav-prev,
      .ls-nav-next {
        top: auto;
        bottom: 0;

      }
    }
  }

  .wrap-booknow{
    margin-top: 6rem;
    .title{
      margin-bottom: 4rem;
    }
    .flat-form{
      .form-group{
        margin-bottom: 5rem;
      }
    }
  }
}
/* End Book Now */

