.margin-remove {
  margin: 0;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.width-1-1 {
  width: 100%;
}
.height-1-1 {
  height: 100%;
}
/*Custom row flex*/
.row-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.row-flex:after,
.row-flex:before {
  content: "";
  display: block;
  overflow: hidden;
}
.row-flex:after {
  clear: both;
}
.row-flex [class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
/*End Custom row flex*/
/* ========================================================================
   Component: Flex
 ========================================================================== */
.com-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.com-flex-inline {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
/*
 * Fixes initial flex-shrink value in IE10
 */
.com-flex > *,
.com-flex-inline > * {
  -ms-flex-negative: 1;
}
/* Alignment
 ========================================================================== */
/*
 * Vertical alignment
 * Default value is `stretch`
 */
.com-flex-top {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.com-flex-middle {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.com-flex-bottom {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
/*
 * Horizontal alignment
 * Default value is `flex-start`
 */
.com-flex-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.com-flex-right {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.com-flex-space-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.com-flex-space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
/* Direction
 ========================================================================== */
.com-flex-row-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.com-flex-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.com-flex-column-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
/* Wrap
 ========================================================================== */
.com-flex-nowrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.com-flex-wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.com-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
/*
 * Horizontal alignment
 * Default value is `stretch`
 */
.com-flex-wrap-top {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
.com-flex-wrap-middle {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}
.com-flex-wrap-bottom {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}
.com-flex-wrap-space-between {
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between;
}
.com-flex-wrap-space-around {
  -ms-flex-line-pack: distribute;
  -webkit-align-content: space-around;
  align-content: space-around;
}
/* Item ordering
 ========================================================================== */
/*
 * Default is 0
 */
.com-flex-order-first {
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
}
.com-flex-order-last {
  -ms-flex-order: 99;
  -webkit-order: 99;
  order: 99;
}
/* Phone landscape and bigger */
@media (min-width: 480px) {
  .com-flex-order-first-small {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .com-flex-order-last-small {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99;
  }
}
/* Tablet and bigger */
@media (min-width: 768px) {
  .com-flex-order-first-medium {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .com-flex-order-last-medium {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99;
  }
}
/* Desktop and bigger */
@media (min-width: 960px) {
  .com-flex-order-first-large {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .com-flex-order-last-large {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99;
  }
}
/* Large screen and bigger */
@media (min-width: 1220px) {
  .com-flex-order-first-xlarge {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .com-flex-order-last-xlarge {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99;
  }
}
/* Item dimensions
 ========================================================================== */
/*
 * Initial: 0 1 auto
 * Content dimensions, but shrinks
 */
/*
 * No Flex: 0 0 auto
 * Content dimensions
 */
.com-flex-item-none {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}
/*
 * Relative Flex: 1 1 auto
 * Space is allocated considering content
 * 1. Fixes flex-shrink value in IE10
 */
.com-flex-item-auto {
  -ms-flex: auto;
  -webkit-flex: auto;
  flex: auto;
  /* 1 */
  -ms-flex-negative: 1;
}
/*
 * Absolute Flex: 1 1 0%
 * Space is allocated solely based on flex
 */
.com-flex-item-1 {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.line-clamp {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
}
.line-clamp:after {
  content: '...';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  height: calc(1.5em);
}
@supports (-webkit-line-clamp: 1) {
  .line-clamp:after {
    display: none !important;
  }
}
.line-clamp-1 {
  -webkit-line-clamp: 1;
  height: calc(1.5em);
}
.line-clamp-2 {
  -webkit-line-clamp: 2;
  height: calc(3em);
}
.line-clamp-3 {
  -webkit-line-clamp: 3;
  height: calc(4.5em);
}
.line-clamp-4 {
  -webkit-line-clamp: 4;
  height: calc(6em);
}
.line-clamp-5 {
  -webkit-line-clamp: 5;
  height: calc(7.5em);
}
.line-clamp-6 {
  -webkit-line-clamp: 6;
  height: calc(9em);
}
.line-clamp-7 {
  -webkit-line-clamp: 7;
  height: calc(10.5em);
}
.row-small {
  margin-left: -5px;
  margin-right: -5px;
}
.row-small [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.row-collapse {
  margin-left: 0;
  margin-right: 0;
}
.row-collapse [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.relative {
  position: relative;
}
.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 480px) {
  .hidden-480 {
    display: none !important;
  }
}
.width-1-1 {
  width: 100% !important;
}
.icon-addon {
  position: relative;
  display: block;
}
.icon-addon:after,
.icon-addon:before {
  display: table;
  content: " ";
}
.icon-addon:after {
  clear: both;
}
.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 14px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 10px 0;
}
.icon-addon.addon-md .form-control,
.icon-addon .form-control {
  padding-left: 30px;
  float: left;
  font-weight: normal;
}
.middle-navbar .navbar-nav > .active > a,
.middle-navbar .navbar-nav > .active > a:focus,
.middle-navbar .navbar-nav > .active > a:hover {
  background-color: transparent;
  text-shadow: 2px 1px 8px #ffffff;
}
/* Using @font-face in less
**
** src: url('@{path-fonts}/open-sans/OpenSans-Light-webfont.eot') format('enbedded-opentype'),
** url('@{path-fonts}/open-sans/OpenSans-Light.ttf') format('truetype'),
** url('@{path-fonts}/open-sans/OpenSans-Light-webfont.woff') format('woff'),
** url('@{path-fonts}/open-sans/open-sans/OpenSans-Light-webfont.svg#open-sans-light') format('svg');
**
*/
@font-face {
  font-family: 'MJF-Zhafira-Demo';
  src: url('../../fonts/MJF-Zhafira-Demo.eot');
  src: url('../../fonts/MJF-Zhafira-Demo.eot?#iefix') format('embedded-opentype'), url('../../fonts/MJF-Zhafira-Demo.woff') format('woff'), url('../../fonts/MJF-Zhafira-Demo.ttf') format('truetype'), url('../../fonts/MJF-Zhafira-Demo.svg#MJF-Zhafira-Demo') format('svg');
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../../fonts/Montserrat-Light.eot');
  src: url('../../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../../fonts/Montserrat-Light.woff') format('woff'), url('../../fonts/Montserrat-Light.ttf') format('truetype'), url('../../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
}
@font-face {
  font-family: 'Montserrat-Hairline';
  src: url('../../fonts/Montserrat-Hairline.eot');
  src: url('../../fonts/Montserrat-Hairline.eot?#iefix') format('embedded-opentype'), url('../../fonts/Montserrat-Hairline.woff') format('woff'), url('../../fonts/Montserrat-Hairline.ttf') format('truetype'), url('../../fonts/Montserrat-Hairline.svg#Montserrat-Hairline') format('svg');
}
.sprite-social {
  background-image: url("../../img/social-spritesheet.png");
  background-repeat: no-repeat;
  display: inline-block;
}
.sprite-social.sprite-social-f {
  width: 33px;
  height: 34px;
  background-position: -5px -5px;
}
.sprite-social.sprite-social-f-blue {
  width: 33px;
  height: 34px;
  background-position: -48px -5px;
}
.sprite-social.sprite-social-ins {
  width: 34px;
  height: 34px;
  background-position: -5px -49px;
}
.sprite-social.sprite-social-ins-blue {
  width: 34px;
  height: 34px;
  background-position: -49px -49px;
}
.sprite-social.sprite-social-pin {
  width: 34px;
  height: 34px;
  background-position: -91px -5px;
}
.sprite-social.sprite-social-pin-blue {
  width: 34px;
  height: 34px;
  background-position: -93px -49px;
}
.sprite-social.sprite-social-twi {
  width: 33px;
  height: 34px;
  background-position: -5px -93px;
}
.sprite-social.sprite-social-twi-blue {
  width: 33px;
  height: 34px;
  background-position: -48px -93px;
}
.sprite-docomo {
  background-image: url("../../img/docomo-spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sprite-docomo.sprite-docomo-DoCoMo {
  background-position: -5px -5px;
  width: 256px;
  height: 59px;
}
.sprite-docomo.sprite-docomo-DoCoMo-blu {
  background-position: -5px -74px;
  width: 256px;
  height: 59px;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
}
#header {
  position: relative;
  z-index: 10;
}
.top {
  padding: 10px 0;
  background-color: #00335f;
}
.top.second {
  background-color: #000000;
}
.top .top-center-nav {
  display: inline-block;
}
.top .top-center-nav .select2-container--default {
  margin-top: 5px;
}
.top .top-center-nav .select2-container--default .select2-selection--single {
  background-color: transparent;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.top .top-center-nav .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
}
.top .top-center-nav > li > a {
  color: #fff;
  position: relative;
  padding: 10px;
}
.top .top-center-nav > li > a:focus,
.top .top-center-nav > li > a:hover {
  background-color: transparent;
}
.top .top-center-nav > li > a:focus span,
.top .top-center-nav > li > a:hover span {
  text-shadow: 2px 1px 8px #ffffff;
}
.top .top-center-nav > li > a:after {
  content: '';
  width: 1px;
  height: 100%;
  background-image: url("../../img/separate.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  top: 0;
}
.top .top-center-nav > li:last-of-type > a:after {
  display: none;
}
.top .top-form-search {
  margin-top: 3px;
}
.middle .middle-navbar {
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid #cccccc;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.05) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.05) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.05) 100%);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.middle.second .middle-navbar {
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.05) 100%);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.05) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.05) 100%);
}
.middle.second .middle-navbar .navbar-brand {
  display: none;
}
.middle.second .middle-navbar .new-navbar-nav > .social-list {
  text-align: center;
}
.middle.second .middle-navbar .new-navbar-nav > .social-list a {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 3px;
  padding-right: 3px;
  vertical-align: middle;
}
.new-navbar-nav > li > a {
  text-transform: uppercase;
}
.new-navbar-nav > .social-list {
  text-align: center;
}
.new-navbar-nav > .social-list a {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 3px;
  padding-right: 3px;
}
@media only screen and (min-width: 768px) {
  .middle .middle-navbar {
    border: none;
  }
  .new-navbar-nav {
    width: 100%;
    text-align: center;
  }
  .new-navbar-nav > li > a {
    color: #fff !important;
    font-size: 1.7rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .new-navbar-nav > li {
    float: none;
    display: inline-block;
  }
}
@media only screen and (min-width: 992px) {
  .new-navbar-nav > li > a {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  #banner-slide {
    margin-top: -165px;
  }
  .middle.second .new-navbar-nav > li > a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .middle.second .middle-navbar .navbar-brand {
    display: block;
    height: auto;
    padding: 0;
    margin-top: 1rem;
  }
  .middle.second .new-navbar-nav {
    width: auto;
  }
}
.select2-bootstrap + .select2-container--default .select2-selection--single {
  height: 34px;
  border: 1px solid #cccccc;
}
.select2-bootstrap + .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 32px;
}
.select2-bootstrap + .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 32px;
}
#full-width-slider {
  position: relative;
}
#full-width-slider:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
}
#full-width-slider-info {
  position: relative;
}
#full-width-slider-info .ls-bottom-nav-wrapper {
  z-index: 10;
}
#overlay-content {
  margin-top: 2rem;
}
#overlay-content .wrap-activity {
  margin-top: 2rem;
}
@media only screen and (min-width: 992px) {
  #overlay-content {
    position: relative;
    z-index: 10;
    margin-top: -472px;
  }
}
.guam-guide .img-responsive {
  margin-left: auto;
  margin-right: auto;
}
.hidden-mobile {
  display: none !important;
}
.visible-desk {
  display: block !important;
}
@media only screen and (min-width: 992px) {
  .hidden-mobile {
    display: block !important;
  }
  .visible-desk {
    display: none !important;
  }
}
.nav-guam-guide {
  display: inline-block;
}
.nav-guam-guide li span {
  text-shadow: #030303 4px 2px 2px;
  color: #fff;
  display: inline-block;
  font-size: 8.2rem;
  padding: 0 3.5rem;
  font-family: 'MJF-Zhafira-Demo', sans-serif;
}
.nav-guam-guide li span:after {
  content: '';
  width: 1px;
  height: 100%;
  background-image: url("../../img/separate-nav.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  top: 0;
}
.nav-guam-guide li span.non-separate:after {
  display: none;
}
.wrap-activity {
  border: 1px solid rgba(0, 0, 0, 0.15);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #f6f4ec;
  min-height: 54px;
  margin-bottom: 4rem;
}
.inline-letgo-search {
  padding: 0 10px 10px 10px;
  margin-left: -5px;
  margin-right: -5px;
}
.inline-letgo-search [class^="col-"] {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.inline-letgo-search .form-group {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.inline-letgo-search .btn-letgo {
  background-color: #1274bf;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  height: 54px;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  transition: all .4s linear;
}
.inline-letgo-search .btn-letgo:hover {
  background-color: #44a4ee;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .inline-letgo-search {
    padding: 0 0 0 10px;
  }
  .inline-letgo-search .btn-letgo {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }
}
.docomo .img-responsive {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 992px) {
  .ls-v5 .ls-nav-next,
  .ls-v5 .ls-nav-prev {
    background-color: rgba(255, 255, 255, 0.3);
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    width: 90px !important;
  }
  .ls-v5 .ls-nav-next {
    right: 0 !important;
    background-position: -130px 10px !important;
  }
  .ls-v5 .ls-nav-prev {
    left: 0 !important;
    background-position: 30px 10px !important;
  }
}
.animate-to {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.animate-to .anchor-animate-to {
  display: inline-block;
  width: 59px;
  height: 59px;
  margin-left: auto;
  margin-right: auto;
}
.animate-to.within-info {
  margin-top: -5.9rem;
}
@media only screen and (min-width: 768px) {
  .animate-to {
    margin-top: 10rem;
    margin-bottom: 3.5rem;
  }
}
#book-today {
  padding-top: 4.5rem;
  padding-bottom: 2rem;
  position: relative;
}
#book-today .blur-book-today {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 108, 0, 0.4);
}
#book-today .hold-bg {
  background-image: url("../../img/book-today-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  #book-today {
    padding-top: 20.5rem;
  }
}
.book-today-info {
  color: #fff;
}
.book-today-info h4 {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: 'Montserrat-Hairline', sans-serif;
  margin-top: 0;
  margin-bottom: 2rem;
}
.book-today-info h4 span {
  display: inline-block;
  border-bottom: 1px solid #fff;
  padding-bottom: 1.5rem;
}
.book-today-info p {
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 2rem;
}
.start-here {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  margin-top: 1.5rem;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.start-here .layer-thumb-image {
  background: black;
  width: 100%;
  height: 100%;
}
.start-here a {
  color: #fff;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: 'Montserrat-Light', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.start-here a span {
  position: absolute;
  display: inline-block;
  width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
@media only screen and (min-width: 480px) {
  .start-here {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .start-here {
    width: 100%;
    height: 220px;
  }
}
@media only screen and (max-width: 767px) {
  #book-today .com-flex [class^="col-"] {
    width: 100%;
  }
}
#guam-info {
  position: relative;
}
#guam-info .animate-to.within-info {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
}
#footer {
  background-color: #d9d9d9;
  background-image: url("../../img/map-foot.png");
  background-position: right bottom -130px;
  background-repeat: no-repeat;
  padding-top: 5rem;
  padding-bottom: 10rem;
}
@media only screen and (min-width: 768px) {
  #footer {
    padding-top: 10rem;
    padding-bottom: 30rem;
  }
}
.logo-contact {
  margin-bottom: 3rem;
}
.logo-contact h4 {
  font-size: 6rem;
  font-family: 'Montserrat-Hairline', sans-serif;
  position: relative;
  color: #555555;
}
.logo-contact h4:before {
  content: '';
  width: 150px;
  max-width: 150px;
  height: 1px;
  background-color: #555555;
  position: absolute;
  left: 0;
  bottom: -20px;
}
.wrap-foot-list h4 {
  color: #006595;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.wrap-foot-list .nav-list {
  margin-bottom: 2rem;
}
.wrap-foot-list .nav-list > li > a {
  padding-left: 0;
  padding-right: 0;
  color: #006595;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.wrap-foot-list .nav-list > li > a:focus,
.wrap-foot-list .nav-list > li > a:hover {
  background-color: transparent;
  text-decoration: underline;
}
.wrap-foot-list .nav-list.list-social a:hover {
  text-decoration: none;
}
.new-content h4 {
  color: #006595;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.6rem;
}
#activities {
  position: relative;
}
#activities .hold-bg-activities-noneblur {
  background-image: url("../../img/activities-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#activities .hold-bg-activities {
  background-image: url("../../img/activities-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#activities .inner {
  padding-top: 10rem;
  padding-bottom: 3rem;
}
.wrap-event {
  text-align: center;
}
.wrap-event h1 {
  color: #fff;
  font-size: 5rem;
  text-transform: uppercase;
  position: relative;
  font-family: 'Montserrat-Hairline', sans-serif;
  margin-top: 0;
  margin-bottom: 5rem;
}
.wrap-event h1:before {
  content: '';
  width: 150px;
  max-width: 150px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: -20px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
.wrap-event .learn-more .detail {
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: 70%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: 1px solid #fff;
  position: relative;
}
.wrap-event .learn-more .detail a {
  color: #fff;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrap-event .learn-more .detail a span {
  position: absolute;
  display: inline-block;
  width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.wrap-event .learn-more .detail a:hover {
  text-decoration: none;
}
.wrap-event .info {
  color: #fff;
  font-size: 2rem;
  font-family: 'Montserrat-Light', sans-serif;
}
#blog-popular {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media only screen and (min-width: 768px) {
  #blog-popular {
    padding-top: 5rem;
  }
}
.blog-item {
  border: 1px solid rgba(7, 7, 8, 0.27);
  margin-bottom: 2rem;
}
.blog-item .blog-img .square {
  position: relative;
  width: 100%;
}
.blog-item .blog-img .square:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.blog-item .blog-img .square .inner-square {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.blog-item .blog-img .square .inner-square img {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.blog-item .blog-img .square .inner-square img.extend-img {
  width: 100%;
}
.blog-item .blog-img .square .inner-square .overlay {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.blog-item .blog-img .square .inner-square .overlay .read-more {
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 7px 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.blog-item:hover .inner-square img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.blog-item:hover .inner-square .overlay {
  opacity: 1 !important;
}
.blog-item .blog-content {
  padding: 2rem;
}
.blog-item .blog-content h4.title {
  margin-top: 0;
  margin-bottom: 2rem;
}
.blog-item .blog-content h4.title a {
  color: #1273bf;
  font-size: 1.7rem;
  text-transform: uppercase;
}
/* Start Subpage Activities */
#guam-activities {
  margin-top: 2rem;
}
.header-activities {
  margin-bottom: 2rem;
}
.header-activities .title h4 {
  font-size: 5rem;
  font-family: 'Montserrat-Hairline', sans-serif;
  text-transform: uppercase;
}
.header-activities .title span {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}
.header-activities .hold-slt {
  margin-top: 2rem;
}
@media only screen and (min-width: 768px) {
  .header-activities .hold-slt {
    margin-top: 7rem;
  }
}
@media only screen and (min-width: 992px) {
  #guam-activities {
    margin-top: 5rem;
  }
  .header-activities {
    margin-bottom: 5rem;
  }
  .header-activities .hold-slt {
    margin-top: 7rem;
  }
}
.activities-item {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 2rem;
  border: 1px solid #ededed;
  padding: 0.5rem;
}
.activities-item .activities-img .retangle {
  position: relative;
  width: 100%;
}
.activities-item .activities-img .retangle:after {
  content: '';
  display: block;
  padding-bottom: 73%;
}
.activities-item .activities-img .retangle .inner-retangle {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.activities-item .activities-img .retangle .inner-retangle img {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.activities-item .activities-img .retangle .inner-retangle img.extend-img {
  width: 100%;
}
.activities-item .activities-img .retangle .inner-retangle .overlay {
  width: 60px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.activities-item .activities-content {
  padding: 1rem 1rem 0;
}
.activities-item .activities-content .primary-content {
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.activities-item .activities-content h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.activities-item .activities-content h4 a {
  text-transform: capitalize;
  color: #86af0d;
}
.activities-item .activities-content p {
  color: #8c8486;
}
.activities-item .activities-price {
  padding: 1rem;
  border-top: 1px solid #ededed;
}
.activities-item .activities-price span {
  display: block;
}
.activities-item .activities-price span.sub {
  color: #8c8486;
  font-size: 1.6rem;
}
.activities-item .activities-price span.price {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
}
.activities-item .activities-price .btn-detail {
  text-transform: uppercase;
  margin-top: 1rem;
}
@media only screen and (min-width: 768px) {
  .activities-item .activities-content .primary-content {
    height: 210px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .activities-content .primary-content {
    height: 160px;
    margin-top: 5rem;
    margin-bottom: 6rem;
  }
}
.metismenu .has-arrow::after {
  border-color: #000;
  right: 4px;
}
.box-search-activities {
  border: 1px solid #ededed;
  margin-bottom: 2rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.box-search-activities .title {
  background-color: #7ab92d;
  color: #ffffff;
  text-transform: capitalize;
  font-style: 1.4rem;
  margin: 5px;
  padding: 1rem 0 1.3rem 1rem;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.box-search-activities .place-body-search {
  padding: 1rem;
}
.box-search-activities .place-body-search .nav-list > li {
  border-bottom: 1px solid #ededed;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.box-search-activities .place-body-search .nav-list > li > a {
  padding: 10px 0;
  color: #444444;
}
.box-search-activities .place-body-search .nav-list > li > a:hover,
.box-search-activities .place-body-search .nav-list > li > a:focus {
  background-color: transparent;
}
.box-search-activities .place-body-search .nav-list > li:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}
.box-search-activities .search-place-button {
  padding: 4rem 5px;
}
.box-search-activities .search-place-button .btn {
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
.box-search-activities .search-place-button .btn.btn-reset {
  background-color: #666666;
}
/* End Subpage Activities*/
/* Start Subpage Event */
#guam-events {
  margin-top: 2rem;
}
.grid-sizer,
.grid-item {
  width: 100%;
}
.grid-item {
  float: left;
  margin-bottom: 10.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.gutter-sizer {
  width: 16.66666667%;
}
@media only screen and (min-width: 768px) {
  #guam-events {
    margin-top: 6rem;
  }
  .grid-sizer,
  .grid-item {
    width: 41.66666667%;
  }
  .grid-item-width-than {
    width: 42.66666667%;
  }
  .gutter-sizer {
    width: 16.66666667%;
  }
}
.guam-event-intro {
  text-align: center;
  color: #8c8486;
}
.guam-event-intro h4 {
  font-size: 5rem;
  font-family: 'Montserrat-Hairline', sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 3rem;
  position: relative;
}
.guam-event-intro h4:before {
  content: '';
  width: 150px;
  max-width: 150px;
  height: 1px;
  background-color: #8c8486;
  position: absolute;
  left: 50%;
  bottom: -15px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
.event-item .event-img {
  border: 1px solid #ededed;
  border-bottom: none;
}
.event-item .event-img .square {
  position: relative;
  width: 100%;
}
.event-item .event-img .square:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.event-item .event-img .square .inner-square {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.event-item .event-img .square .inner-square img {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.event-item .event-img .square .inner-square img.extend-img {
  width: 100%;
}
.event-item .event-img .square .inner-square .overlay {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.event-item:hover .inner-square img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.event-item:hover .inner-square .overlay {
  opacity: 1 !important;
}
.event-item .event-content {
  border: 1px solid #ededed;
  border-top: none;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #8c8486;
}
.event-item .event-viewin .viewin-calendar {
  border: 1px solid #0d49ad;
  padding: 1.5rem 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #0d49ad;
  display: inline-block;
  width: 100%;
  float: right;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.event-item .event-viewin .viewin-calendar:after {
  content: '';
  width: 32px;
  height: 32px;
  background-image: url("../../img/cal.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 2rem;
  top: 8px;
}
.event-item .event-viewin .viewin-calendar:hover {
  background-color: #b8d0fa;
}
@media only screen and (min-width: 992px) {
  .event-item .event-viewin .viewin-calendar {
    width: 70%;
  }
}
/* End Subpage Evennt */
.temp-square {
  width: 100%;
  position: relative;
}
.temp-square:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.temp-square .inner {
  position: absolute;
  width: 100%;
  height: 100%;
}
.square-calen {
  width: 88%;
}
.bg-calendar-grid {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../img/bg-calendar.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
.canlendar-info {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(55%, -50%);
  -moz-transform: translate(55%, -50%);
  -ms-transform: translate(55%, -50%);
  -o-transform: translate(55%, -50%);
}
.canlendar-info h4 {
  font-family: 'Montserrat-Hairline', sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 3rem;
  position: relative;
}
.canlendar-info h4:before {
  content: '';
  width: 150px;
  max-width: 150px;
  height: 1px;
  background-color: #8c8486;
  position: absolute;
  left: 5px;
  bottom: -15px;
}
.canlendar-info span {
  display: inline-block;
  font-weight: 700;
  color: #555555;
}
@media only screen and (max-width: 767px) {
  .square-calen {
    width: 100%;
  }
  .square-calen:after {
    padding-bottom: 50%;
  }
  .bg-calendar-grid {
    display: none;
  }
  .canlendar-info {
    background-color: #117500;
    color: #fff;
    top: auto;
    padding: 2rem;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  .canlendar-info h4 {
    font-size: 3rem;
  }
  .canlendar-info h4:before {
    left: 0;
  }
  .canlendar-info span {
    color: #fff;
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 768px) {
  .guam-event-intro h4 {
    font-size: 4rem;
  }
  .canlendar-info h4 {
    font-size: 4rem;
  }
  .canlendar-info span {
    font-size: 2.7rem;
  }
}
@media only screen and (min-width: 992px) {
  .guam-event-intro h4 {
    font-size: 5rem;
  }
  .canlendar-info h4 {
    font-size: 5rem;
  }
  .canlendar-info span {
    font-size: 3.7rem;
  }
}
/* Start Book Now */
input::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: white;
  opacity: 1;
}
input::-moz-placeholder {
  color: white;
  opacity: 1;
}
.wrap-booknow {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.wrap-booknow .title {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: 'Montserrat-Hairline', sans-serif;
  margin-top: 0;
  margin-bottom: 2rem;
}
.wrap-booknow .title span {
  display: inline-block;
  border-bottom: 1px solid #555;
  padding-bottom: 1.5rem;
}
.wrap-booknow .mode-wrap {
  padding-left: 0;
}
.wrap-booknow .mode-wrap + .mode-wrap {
  margin-left: 5px;
}
.wrap-booknow .mode-wrap .lbl-mode {
  background-color: #636363;
  color: #fff;
  height: 60px;
  cursor: pointer;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.9rem;
  padding-bottom: 0.8rem;
  margin-bottom: 0;
  margin-left: 0;
}
.wrap-booknow .mode-wrap .lbl-mode span {
  display: block;
  text-align: center;
}
.wrap-booknow .mode-wrap input[type="radio"] {
  width: 1px;
  height: 1px;
  visibility: hidden;
}
.wrap-booknow .mode-wrap input[type="radio"]:checked + label.lbl-mode {
  background-color: #000000;
}
.wrap-booknow .flat-form .form-group {
  margin-bottom: 2rem;
}
.wrap-booknow .flat-form .form-group .has-icon-calen {
  position: relative;
}
.wrap-booknow .flat-form .form-group .has-icon-calen input.form-control {
  padding-left: 2rem;
}
.wrap-booknow .flat-form .lbl {
  font-size: 1.4rem;
  color: #555555;
  white-space: nowrap;
}
.wrap-booknow .flat-form .form-control {
  background-color: #626262;
  color: #ffffff;
  height: 60px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.wrap-booknow .flat-form .form-control.flat-select {
  background-image: url("../../img/select-arrow.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.wrap-booknow .flat-form .form-control.flat-select::-ms-expand {
  display: none;
}
.wrap-booknow .flat-form .short-des {
  color: #555555;
}
.wrap-booknow .flat-form .btn-search {
  background-color: #0071bb;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 60px;
  font-size: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
@media only screen and (min-width: 480px) {
  .wrap-booknow .flat-form .form-group .has-icon-calen:after {
    content: '';
    width: 32px;
    height: 32px;
    background-image: url("../../img/cal-white.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 10px;
    top: 13px;
  }
  .wrap-booknow .flat-form .form-group .has-icon-calen input.form-control {
    padding-left: 5.5rem;
  }
}
@media only screen and (min-width: 992px) {
  #subpage-booknow-slider2.ls-v5 .ls-nav-prev,
  #subpage-booknow-slider2.ls-v5 .ls-nav-next {
    top: auto;
    bottom: 0;
  }
  .wrap-booknow {
    margin-top: 6rem;
  }
  .wrap-booknow .title {
    margin-bottom: 4rem;
  }
  .wrap-booknow .flat-form .form-group {
    margin-bottom: 5rem;
  }
}
/* End Book Now */
